.container {
    display: flex;
    flex-direction: column;
    height: 550px;
    align-content: center;
    background-image:linear-gradient(to right, rgb(225,0,0),white 10%);
    border: 1px solid #c00;
    margin: 20px 20px 20px 20px;
    padding: 10px;
    position: relative;
    border-radius: 15px;
    box-shadow: 0px 10px 10px grey;
}

.title {
    color: #c00;
    font-size: 2rem;
}

.pubDate {
    font-weight: bold;
    font-size: smaller;
}
.image{
    float: left;
    width: 20%;

}
.rest{
    display: inline-block;
    align-self: center;
    margin-left: 13px;

    width: 100%;
}
SlugButton{
    margin-left: 0;
    float: center;
    align-content: stretch;
    position: absolute;
    bottom:10px;
}