.image{
    background-color: rgb(225,0,0);
    width: 130px;
    height: 70px;
    border-radius: 50%;
    border: 10px solid;
    border-color: rgb(225,0,0);
    box-shadow: 0px 10px 10px grey;
   
}