.container{
    background: white;
    border-style: solid;
    border-color: red;
    border-width: 1px;
    margin-bottom: 15px;
    
}
.title{
    color: red;
   
}
.time{
    font-weight: bolder;
}

